<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dex</title>
	<link rel="stylesheet" href="popover.css">
	<script src="lodash.min.js"></script>
	<script id="module-list-tpl" type="text/html">
<ul id="site-modules">

<% if(site_available.length > 0) { %>
	<li class="site modules">
		<h1><%= hostname %></h1>
		<ul>
<% site_available.forEach(function(m){ %>
			<li>
				<label>
					<input data-href="<%= json_url %>?toggle=<%= m %>" type="checkbox"<% if(!~site_enabled.indexOf(m)){ %> checked<% } %>>
					<div class="fancy-switch"><div></div></div>

					<h2><%= metadata[m]["Title"] %></h2>
<% if( metadata[m]["Description"] ) { %>
					<p><%= metadata[m]["Description"] %></p>
<% } %>
				</label>
				</a>
			</li>
<% }); %>
		</ul>
	</li>
<% } else { %>
	<li class="empty site modules"><h2>No site-specific modules for <%= m %></h2></li>
<% } %>

<% if(global_available.length > 0) { %>
	<li class="global modules">
		<h1>Everything</h1>
		<ul>
<% global_available.forEach(function(m){ %>
			<li>
				<label>
					<input data-href="<%= json_url %>?toggle=<%= m %>" type="checkbox"<% if(!~global_enabled.indexOf(m)){ %> checked<% } %>>
					<div class="fancy-switch"><div></div></div>

					<h2><%= metadata[m]["Title"] %></h2>
<% if( metadata[m]["Description"] ) { %>
					<p><%= metadata[m]["Description"] %></p>
<% } %>
				</label>
				</a>
			</li>
<% }); %>
		</ul>
	</li>
<% } else { %>
	<li class="empty global modules"><h2>No global modules for <%= m %></h2></li>
<% } %>

</ul>
	</script>
	<script src="utils.js"></script>
	<script src="popover.js"></script>
</head>
<body>
</body>
</html>