<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="popover.css">
	<script src="lodash.min.js"></script>
	<script src="popover.js"></script>

	<script id="module-list-tpl" type="text/html">
<ul id="site-modules">
<%

if(data.site_available.length > 0) { %>
	<li class="site-modules">
		<h2>Site-specific Modules</h2>
		<ul>
<% data.site_available.forEach(function(m){ %>
			<li<% if(!~data.site_enabled.indexOf(m)){ %> class="disabled"<% } %>>
				<a href="<%= data.json_url %>?toggle=<%= m %>">
					<%= data.metadata[m]["Title"] %>
				</a>
			</li>
<% }); %>
		</ul>
	</li>
<% } else { %>
	<li class="empty site-modules"><h2>No site-specific modules for <%= m %></h2></li>
<% } %>


<%


if(data.global_available.length > 0){ %>
	<li>
		<h2>Global Modules</h2>
		<ul>
<% data.global_available.forEach(function(m){ %>
			<li<% if( !~data.global_enabled.indexOf(m)){ %> class="disabled"<% } %>>
				<a href="<%= data.json_url %>?toggle=<%= m %>">
					<%= data.metadata[m]["Title"] %>
				</a>
			</li>
<% }); %>
		</ul>
	</li>
<% } else { %>
	<li class="empty"><h2>No global modules</h2></li>
<% } %>
</ul>
	</script>

</head>
<body>
	<div class="loading">Loading modules&hellip;</div>
</body>
</html>