/* @override https://localhost:3131/dexfiles.org/ext/dex.css */

*{
	margin: 0;
	padding: 0;
	outline: none;
}

body{
  min-width: 200px;
}

h2,a{
  font: 16px/140% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding: 4px 12px;
  display: block;
}

h2{
  font-weight: bold;
}

ul{
  width: 100%;
}

body > ul > li{
  padding-top: 6px;
}

#site-modules{
  padding: 4px 0;
}

.site-modules{
  border-bottom: 1px solid #dedede;
  padding-bottom: 6px;
}

iframe{
	border:none;
	height: 100%;
	width: 100%;
}

a{
  text-decoration: none;
  white-space: nowrap;
  color: #373737;
}

.disabled a{
  color: #b3b3b3;
}