<!DOCTYPE html>
<html>
	<head>
		<title>Dexfiles</title>
	</head>
	<body>
		<h1>Folders</h1>
		<ul>
<% if !dex_modules.empty? %>
<% for category, categoryList in dex_modules %>
			<li>
				<ul>
					<h2><%= category %></h2>
					<ul>
<% for folder, modList in categoryList %>
						<li>
							<h3><a href="/<%= folder %>.html"><%= folder %></a></h3>
							<ul>

<% for mod in modList %>
								<li><%= mod %></li>
<% end %>

							</ul>
						</li>
<% end %>
					</ul>
				</ul>
			</li>
<% end %>
<% else %>
			<li class="empty">No dexfiles :(</li>
<% end %>
		</ul>

	</body>
</html>