<!DOCTYPE html>
<html>
	<head>
		<title>Dexfiles</title>
		<link rel="stylesheet" href="/dexfiles.org/ext/dex.css">
		<script src="/dexfiles.org/ext/dex.js"></script>
	</head>
	<body>
		<ul>
<% unless site_available.empty? %>
			<li class="site-modules">
				<h2>Site-specific Modules<!--<%= url %>--></h2>
				<ul>
<% for m in site_available %>
					<li<%= " class='disabled'" unless site_enabled.include? m %>>
						<a href="/<%= url %>.html?toggle=<%= m %>"><%= titles[m] %></a>
<%
=begin %>
						<strong><%= titles[m] %></strong><% if authors[m] %> by <strong><%= authors[m] %></strong><% end %>
<%
=end %>
					</li>
<% end %>
				</ul>
			</li>
<% else %>
			<li class="empty site-modules"><h2>No site-specific modules for <%= url %></h2></li>
<% end %>


<% unless global_available.empty? %>
			<li>
				<h2>Global Modules</h2>
				<ul>
<% for m in global_available %>
					<li<%= " class='disabled'" unless global_enabled.include? m %>>
						<a href="/<%= url %>.html?toggle=<%= m %>"><%= titles[m] %></a>
					</li>
<% end %>
				</ul>
			</li>
<% else %>
			<li class="empty"><h2>No global modules</h2></li>
<% end %>

		</ul>
	</body>
</html>
